@model HomeVM

@if (!string.IsNullOrEmpty(Model.SearchQuery))
{
    <form asp-action="AuthorBooks" method="post" class="row mt-4" enctype="multipart/form-data">
        <div class="col-6">

            <div class="form-group d-flex mt-1 align-items-center col-6">

                <input type="text" class="form-control border-secondary me-2 shadow bg-white" placeholder="@Model.SearchQuery" disabled aria-describedby="button-addon2">

                <button asp-action="ClearSearch" type="submit" class="btn btn-secondary text-center" type="button" id="button-addon2"><i class="bi bi-x-lg"></i></button>
            </div>
        </div>
    </form>
}

<form asp-action="AuthorBooks" method="post" class="row mt-5" enctype="multipart/form-data">
    <div class="col-3">
        <div class="card text-white bg-primary col-12" style="max-width: 20rem;">

            <div class="row">
                <div class="card-header h2 mt-2 mb-1 text-center border-0">Filters</div>
            </div>

            <div class="row ps-3 pt-1">
                <h6 class="text-white text-opacity-75 fw-semibold">
                    Author <i class="bi bi-person-fill"></i>
                    <div class="form-group d-flex mt-1 align-items-center col-11">

                        <select asp-for="@Model.AuthorId" asp-items="@Model.AuthorList" class="form-select border border-secondary me-2 shadow">
                            <option disabled selected>--Select Author--</option>
                        </select>

                        <button class="btn btn-secondary" type="submit"><i class="bi bi-search"></i></button>
                    <div/>
                </h6>

                <h6 class="text-white text-opacity-75 mt-2 fw-semibold">
                    Price <i class="bi bi-tag"></i>
                    <div class="row mt-1">
                        <div class="col-6">
                            <div class="input-group mb-1">
                                <span class="input-group-text bg-secondary col-5 text-white justify-content-lg-center shadow border-0"
                                      id="inputGroup-sizing-default">
                                    Min
                                </span>
                                <input asp-for="MinPrice" class="form-control shadow p-1 border border-secondary text-center rounded-end"
                                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                            </div>
  
                            <div class="input-group mb-1">
                                <span class="input-group-text bg-secondary col-5 text-white justify-content-lg-center shadow border-0"
                                      id="inputGroup-sizing-default">
                                    Max  
                                </span>
                                <input asp-for="MaxPrice" class="form-control shadow p-1 border border-secondary text-center rounded-end"
                                       aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                            </div>  
                        </div>
                    </div>
                </h6>

                @{
                    var availableCategories = Model.AvailableCategories;
                    var chosenCategoryIds = Model.ChosenCategoryIds ?? new List<int?>();
                }

                <div class="form-group text-white text-opacity-75">
                    <label for="exampleSelect2" class="form-label fw-semibold mt-1">Category <i class="bi bi-book"></i></label>
                    @foreach (var category in availableCategories)
                    {
                        var isChecked = chosenCategoryIds.Contains(category.Id);

                        <div class="form-check">
                            <input type="checkbox" name="ChosenCategoryIds" value="@category.Id" id="categoryCheckbox@(category.Id)" class="form-check-input border-3 border-secondary" checked="@isChecked">
                            <label class="form-check-label" for="categoryCheckbox@(category.Id)">
                                @(category.Name.Replace("Category", "") + " " + category.Specialization)
                            </label>
                        </div>
                    }
                </div>

                @{
                    var sortedLanguagesBooks = Model.AvailableLanguages ?? new List<string>();
                    var chosenLanguageList = Model.ChosenLanguages ?? new List<string>();
                }

                <div class="form-group text-white text-opacity-75">
                    <label for="exampleSelect2" class="form-label fw-semibold mt-1">Language <i class="bi bi-translate"></i></label>
                    @for (var i = 0; i < sortedLanguagesBooks.Count; i++)
                    {
                        var language = System.Globalization.CultureInfo.GetCultureInfoByIetfLanguageTag(sortedLanguagesBooks[i]).EnglishName;
                        var isChecked = chosenLanguageList.Contains(sortedLanguagesBooks[i]);

                        <div class="form-check">
                            <input type="checkbox" name="ChosenLanguages" value="@sortedLanguagesBooks[i]" id="languageCheckbox@(i)" class="form-check-input border-3 border-secondary" checked="@isChecked">
                            <label class="form-check-label" for="languageCheckbox@(i)">
                                @language
                            </label>
                        </div>
                    }
                </div>

                <div class="row">
                    <div class="col-md-12 pb-3 mt-2 align-content-center">
                        <button type="submit"
                                class="btn btn-secondary shadow bg-gradient w-100 py-2 text-uppercase fw-semibold">
                            Filter
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="border rounded p-3">
            <div class="row">
                <div class="col-6">
                </div>

                <div class="col-6 d-flex mt-1 pe-4">
                    <div class="col-4">

                    </div>
                    <div class="form-group ps-2 d-flex align-items-center" method="get">
                        <select asp-for="@Model.OrderOptionId" asp-items="@Model.OrderOptionsList" class="form-select border border-secondary me-2 mt-0 shadow">
                            <option disabled selected>--Select Order Sequence--</option>
                        </select>

                        <button class="btn btn-secondary shadow" type="submit"><i class="bi bi-funnel"></i></button>
                    </div>
                </div>
            </div>
        
            <div class="row m-1 border-1 rounded">
                @for (var i = 0; i < Model.BookList.Count; i++)
                {
                    <input type="hidden" name="BookList[@i].Id" value="@Model.BookList[i].Id" />
                    <input type="hidden" name="BookList[@i].AuthorId" value="@Model.BookList[i].AuthorId" />

                    <div class="col-lg-4 col-md-6 my-2">
                            
                        <div class="row">
                            <div class="col-md-12 p-2">
                                <div class="card border-0 p-3 shadow border-top border-5 rounded" style="height: 580px;">

                                    @if (!string.IsNullOrEmpty(Model.BookList[i].ImageUrl))
                                    {
                                        <div class="nav-link">
                                            <a asp-action="Details" asp-route-bookId="@Model.BookList[i].Id">
                                                <img src="@Model.BookList[i].ImageUrl" class="card-img-top rounded" width="500" height="350" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        if(Model.BookList[i].AvailableCount > 0)
                                        {
                                            <div class="nav-link">
                                                <a asp-action="Details" asp-route-bookId="@Model.BookList[i].Id">
                                                    <img src="http://placehold.co/500x600/png" class="card-img-top rounded" width="500" height="350" />
                                                </a>
                                            </div>
                                        }
                                    }
                                    
                                    <div class="mt-auto">
                                        <p class="card-title h5 p-1 m-0 text-dark opacity-75 text-uppercase text-center">@Model.BookList[i].Title</p>
                                        
                                        <div class="card-body pb-0 col-12 align-items-center">
                                        
                                             <div class="pl-1">
                                                <p class="card-title h10 text-warning text-center"><b>@(Model.BookList[i].Author.Name + " " + Model.BookList[i].Author.Surname)</b></p>
                                                <p class="text-dark mb-1 text-opacity-75 text-center">
                                                    Price:
                                                    <span class="fw-semibold text-warning ">
                                                        @Model.BookList[i].Price.ToString("c")
                                                    </span>
                                                </p>

                                                @if(Model.BookList[i].AvailableCount > 0)
                                                {
                                                    <a asp-action="Details"
                                                   asp-route-bookId="@Model.BookList[i].Id"
                                                       class="btn btn-primary bg-gradient border-0 form-control ">
                                                        Details
                                                    </a>
                                                }
                                                else
                                                {
                                                   <a
                                                       class="btn btn-primary bg-gradient border-0 form-control disabled">
                                                        Out of stock
                                                    </a>  
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <ul class="pagination justify-content-center mt-2">

                    @{
                        var prevPageNumber = Model.CurrentPageNumber > 1 ? Model.CurrentPageNumber - 1 : Model.CurrentPageNumber;
                        var isDisabledPrev = Model.CurrentPageNumber == 1;
                    }

                    @if (Model.BookList != null && Model.BookList.Count != 0)
                    {
                        <li class="page-item ms-1 me-1 @(isDisabledPrev ? "disabled" : "")">
                            <a class="page-link rounded shadow" asp-route-currentPageNumber="@prevPageNumber" asp-action="AuthorBooks">&laquo;</a>
                        </li>
                    }

                    @for (int i = 1; i <= Model.PageNumber; i++)
                    {
                        <li class="ms-1 me-1 rounded page-item @(Model.CurrentPageNumber == i ? "active" : " ") shadow">
                            <a class="page-link rounded" asp-route-currentPageNumber="@i" asp-action="AuthorBooks">@i</a>
                        </li>
                    }

                    @{
                        var nextPageNumber = Model.CurrentPageNumber < Model.PageNumber ? Model.CurrentPageNumber + 1 : Model.CurrentPageNumber;
                        var isDisabledNext = Model.CurrentPageNumber >= Model.PageNumber;
                    }

                    @if (Model.BookList != null && Model.BookList.Count != 0)
                    {
                        <li class="page-item shadow text-center ms-1 me-1 @(isDisabledNext ? "disabled" : "")">
                            <a class="page-link rounded" asp-route-currentPageNumber="@nextPageNumber" asp-action="AuthorBooks">&raquo;</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
</form>