@model CategoryVM


<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Category.Id != 0 ? "Update" : "Create") Category</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data" id="categoryForm">
            <input asp-for="Category.Id" hidden />
            <input type="hidden" name="selectedCategory" value="History" />
            <input type="hidden" name="categoryData" id="categoryData" />

            <div class="row">
                <div class="col-12">
                    <div class="border p-3 row">
                        <div class="form-floating py-2 col-6">
                            @if (@Model.Category.Id != 0)
                            {
                                <select id="categorySelect" asp-for="@Model.Category.Name" asp-items="@Model.CategoryNames" class="form-select border-0 shadow">
                                    <option value="@Model.Category.Name" disabled selected>--Select Category Name--</option>
                                </select>
                            }
                            else
                            {
                                <select id="categorySelect" disabled asp-for="@Model.Category.Name" asp-items="@Model.CategoryNames" class="form-select border-0 shadow">
                                    <option value="@Model.Category.Name" disabled selected>--Select Category Name--</option>
                                </select>
                            }
                            
                            <label asp-for="Category.Name" class="ms-2 mt-1"></label>
                            <span asp-validation-for="Category.Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-6">
                            <input asp-for="Category.Specialization" class="form-control border-0 shadow" />
                            <label asp-for="Category.Specialization" class="ms-2 mt-1"></label>
                            <span asp-validation-for="Category.Specialization" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Category.KeyWords" class="form-control border-0 shadow" />
                            <label asp-for="Category.KeyWords" class="ms-2 mt-1"></label>
                            <span asp-validation-for="Category.KeyWords" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Category.CategoryDescrition" class="ms-2 text-muted"></label>
                            <textarea asp-for="Category.CategoryDescrition" class="form-control border-0 shadow"></textarea>
                        </div>

                        <div class="form-floating py-2 col-12">
                        
                            <div id="historySelect" style="display:none" class="form-floating py-2 col-12">
                                <input asp-for="@Model.History.Period" class="form-control border-0 shadow" />
                                <label asp-for="@Model.History.Period" class="ms-2 mt-1"></label>
                                <span asp-validation-for="@Model.History.Period" class="text-danger"></span>
                            </div>
                 
                            <div id="dictionarySelect" style="display:none" class="row">
                                <div class="form-floating py-2 col-6">
                                    <input asp-for="@Model.Dictionary.NativeLanguage" class="form-control border-0 shadow" />
                                    <label asp-for="@Model.Dictionary.NativeLanguage" class="ms-2 mt-1"></label>
                                    <span asp-validation-for="@Model.Dictionary.NativeLanguage" class="text-danger"></span>
                                </div>
                                <div class="form-floating py-2 col-6">
                                    <input asp-for="@Model.Dictionary.IntoLanguage" class="form-control border-0 shadow" />
                                    <label asp-for="@Model.Dictionary.IntoLanguage" class="ms-2 mt-1"></label>
                                    <span asp-validation-for="@Model.Dictionary.IntoLanguage" class="text-danger"></span>
                                </div>
                            </div>
                            <div id="childrenSelect" style="display:none" class="form-floating py-2 col-12">
                                    <input asp-for="@Model.Children.PurposeAge" class="form-control border-0 shadow" />
                                    <label asp-for="@Model.Children.PurposeAge" class="ms-2 mt-1"></label>
                                    <span asp-validation-for="@Model.Children.PurposeAge" class="text-danger"></span>
                            </div>
                        
                            <div id="scientificSelect" style="display:none" class="form-floating py-2 col-12">
                                    <input asp-for="@Model.Scientific.KnowledgeBranch" class="form-control border-0 shadow" />
                                    <label asp-for="@Model.Scientific.KnowledgeBranch" class="ms-2 mt-1"></label>
                                    <span asp-validation-for="@Model.Scientific.KnowledgeBranch" class="text-danger"></span>
                            </div>
                           
                            <div id="fictionSelect" style="display:none" class="form-floating py-2 col-12">
                                <input asp-for="@Model.Fiction.LiteraryFormat" class="form-control border-0 shadow" />
                                <label asp-for="@Model.Fiction.LiteraryFormat" class="ms-2 mt-1"></label>
                                <span asp-validation-for="@Model.Fiction.LiteraryFormat" class="text-danger"></span>
                            </div>
                       
                        </div>

                        <div class="row pt-2">
                            <div class="col-6 col-md-6">
                                @if (Model.Category.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-6">
                                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary form-control border">Back To Category List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons lists table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | numlist bullist indent outdent',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
        });
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />

        <script>
            $(document).ready(function () {
                $('#categorySelect').change(function () {
                    var selection = $('#categorySelect Option:Selected').text();

                    $('#historySelect, #dictionarySelect, #fictionSelect, #childrenSelect, #scientificSelect').hide();

                    if (selection == 'History') {
                        $('#historySelect').show();
                        @Model.Category = new HistoryCategory();
                    }

                    if (selection == 'Dictionary') {
                        $('#dictionarySelect').show();
                    }

                    if (selection == 'Fiction') {
                        $('#fictionSelect').show();
                    }
                    if (selection == 'Children') {
                        $('#childrenSelect').show();
                    }

                    if (selection == 'Scientific') {
                        $('#scientificSelect').show();
                    }
                });

            });

        </script>
    }
}