@model List<Book>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Book List</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-area="Admin" asp-controller="Book" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>
                    Add new Book
                </a>
            </div>
        </div>
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Author</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Year</th>
                    <th class="text-center">Language</th>
                    <th class="text-center">Price</th>
                    <th>

                    </th>
                </tr>


                @foreach (var book in Model)
                {
                    <tr>
                        <th class="text-center">@book.Title</th>
                        <th class="text-center">
                                @(book.Author == null ? "Unknown" : book.Author.Name + book.Author == null ? "Unkwown" : book.Author.Surname) </th>
                        <th class="text-center">@(book.Category == null ? "Unknown" : book.Category.Name)</th>
                        <th class="text-center">@book.Year</th>
                        <th class="text-center">@book.Language</th>
                        <th class="text-center">@book.Price</th>
                        <th>
                            <div div class="w-100 btn-group" role="group">
                                <a asp-action="Upsert" asp-route-bookId="@book.Id" class="btn btn-primary mx-2" style="height:50%; width:50%;"> <i class="bi bi-pencil-square"></i> Edit</a>
                                <a asp-action="Delete" asp-route-bookId="@book.Id" class="btn btn-danger mx-2" style="height:50%; width:50%;"><i class="bi bi-trash-fill"></i> Delete</a>
                            </div>
                        </th>
                    </tr>
                }
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}