@model List<Author>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Author List</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-3 text-end">
            
            </div>
            <div class="col-6 text-end">
                <a asp-area="Admin" asp-controller="Author" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>
                    Add new Author
                </a>
            </div>
            <div class="col-3">
                <form method="get" asp-controller="Author" asp-action="Index">
                    <div class="form-group ps-2 d-flex align-items-center">
                        <select name="orderOptionId" class="form-select text-center border border-secondary me-2 mt-0 shadow">
                            <option disabled selected>--Select Order Sequence--</option>
                            <option value="1">Order by Name</option>
                            <option value="2">Order by Surname</option>
                            <option value="3">Order by Country</option>
                            <option value="4">Order by BirthDate</option>
                        </select>
                        <button class="btn btn-secondary shadow" type="submit"><i class="bi bi-funnel"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Surname</th>
                    <th class="text-center">Country</th>
                    <th class="text-center">Birth Date</th>
                    <th>

                    </th>
                </tr>

                @foreach (var author in Model)
                {
                    <tr>
                        <th class="text-center">@author.Name</th>
                        <th class="text-center">@author.Surname</th>
                        <th class="text-center">@author.Country</th>
                        <th  class="text-center date">@author.BirthDate.ToShortDateString()</th>
                        <th>
                            <div div class="w-100 btn-group" role="group">
                                <a asp-action="Upsert" asp-route-authorId="@author.Id" class="btn btn-primary mx-2" style="height:50%; width:50%;"> <i class="bi bi-pencil-square"></i> Edit</a>
                                <a asp-action="Delete" asp-route-authorId="@author.Id" class="btn btn-danger mx-2" style="height:50%; width:50%;"><i class="bi bi-trash-fill"></i> Delete</a>
                            </div>
                        </th>
                    </tr>
                }
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}