@model AuthorVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Author.Id != 0 ? "Update" : "Add") Author</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Author.Id" hidden />
            @* <input asp-for="Product.ImageUrl" hidden />*@
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Author.Name" class="form-control border-0 shadow" />
                            <label asp-for="Author.Name" class="ms-2 mt-1"></label>
                            <span asp-validation-for="Author.Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Author.Surname" class="form-control border-0 shadow" />
                            <label asp-for="Author.Surname" class="ms-2 mt-1"></label>
                            <span asp-validation-for="Author.Surname" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Author.Country" asp-items="@Model.CountryList/*@(ViewData["CategoryList"]) as IEnumerable<SelectListItem>*/ /*ViewBag.CategoryList*/" class="form-select border-0 shadow">
                                <option disabled selected>--Select Country--</option>
                            </select>
                            <label asp-for="Author.Country" class="ms-2 mt-1"></label>
                            <span asp-validation-for="Author.Country" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Author.BirthDate" class="form-control border-0 shadow" type="date" />
                            <label asp-for="Author.BirthDate" class="ms-2 mt-1"></label>
                            <span asp-validation-for="Author.BirthDate" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" class="form-control border-0 shadow" multiple />
                            <label asp-for="Author.ImageUrl" class="ms-2 mt-1"></label>
                        </div>

                        <div class="py-2 col-12">
                            <label asp-for="Author.Biography" class="ms-2 form-fl text-muted"></label>
                            <textarea asp-for="Author.Biography" class="form-control border-0 shadow"></textarea>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.Author.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update Author</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                @if (Model.Author.Id != 0)
                                {
                                    <a asp-controller="Author" asp-route-authorId="@Model.Author.Id" asp-action="DeleteAll" class="btn btn-danger form-control border">Delete All Books</a>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                @if (Model.Author.Id == 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Add Author</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Author" asp-action="Index" class="btn btn-outline-primary form-control border">Back To Author List</a>
                            </div>
                            
                        </div>

                    </div>
                </div>
                <div class="col-2">
                    @if (!string.IsNullOrEmpty(Model.Author.ImageUrl))
                    {
                        <div class="border p-1 m-2 text-center">
                            <img src="@Model.Author.ImageUrl" width="100%"
                                    style="border-radius:5px; border:1px solid #bbb9b9" />

                            <a asp-action="DeleteImage" class="btn btn-danger" asp-route-authorId="@Model.Author.Id">
                                <i class="bi bi-trash-fill"></i>Delete
                            </a>
                        </div>
                    }
                </div>
            </div>
        </form>

        @if (Model.AuthorBooksList != null && Model.AuthorBooksList.Count != 0)
        {
            <div class="col-md-10">
                @foreach (var book in Model.AuthorBooksList)
                {
                    <div class="row border-bottom pb-3">
                        <div class="d-none d-lg-block col-lg-1 text-center py-2">
                            @if (book.ImageUrl != null)
                            {
                                <img src="@book.ImageUrl" class="card-img-top rounded w-100" />
                            }
                            else
                            {
                                <img src="http://placehold.co/500x600/png" class="card-img-top rounded w-100" />
                            }
                        </div>
                        <div class="col-12 col-lg-6 pt-md-3">
                            <h5 class="text-uppercase text-secondary"><strong>@book.Title</strong></h5>
                            <p><small>@Html.Raw(book.Description)</small></p>
                        </div>
                        <div class="col-12  col-lg-5 text-center row">
                            <div class="col-3 text-md-right pt-2 pt-md-4">
                                <h6 class="fw-semibold">
                                    @book.Price.ToString("c")
                                </h6>
                            </div>
                            <div class="col-6 col-lg-6 pt-2">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Book" asp-action="Upsert" asp-route-bookId="@book.Id" class="btn btn-outline-primary bg-gradient py-2">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </div>

                            </div>
                            <div class="col-3 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">
                                <a asp-controller="Book" asp-action="Upsert" asp-route-bookId="@book.Id" class="btn btn-danger bg-gradient py-2 ">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                }
            </div>
        }
    </div>
</div>